.btn--color--red {
    background: #f5170e;
    color: #fff;
    border-radius: 35px;
    padding: 18px 39px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  
}
.btn--color--white {
    background: #fff;
    border: 1px solid #f5170e;
    border-radius: 35px;
    padding: 18px 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 26px;

}