.contacts {
    
    font-size: normal;
    text-align: right;
    
}
.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin: 2px;

}

.contacts__schedule {
    font-size: 13px;
    text-decoration: underline;
    position: relative;
}
.contacts__schedule:hover {
    color: red;
    cursor: pointer;
}
.contacts__schedule-wrap {
    margin-bottom: 20px;
}
.contacts__schedule-wrap:hover .dropdown {
    opacity: 1;
    left: 1140px;
}
.dropdown {
    padding: 20px 20px 15px;
    background: #ededed;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
    position: absolute;
    top: 117px;

    left: -9999px;
    opacity: 0;
    transition: opacity 1s;
}
.dropdown__days {
    font-weight: 700;
}
.dropdown::after {
    content: "";
    position: absolute;
    border: 20px solid transparent;
    border-bottom-color: #ededed;
    border-top-width: 0;
    top: -20px;
    right: 25px;
}
.dropdown::before {
    content: "";
    height: 32px;
    width: 100px;
    position: absolute;
    top: 30px;
    left: 1140px;
    background: rgb(182, 13, 13);
}