.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92.64px;
    
    width: 1200px;
    border-top: 4px #fff;
    margin-top: auto;
}
.contacts__desc {
    color: #9a9a9a;
    font-size: 11px;
}