.header {
    display: flex;
    justify-content: space-between;
    
    min-width: 1140px;
    margin-bottom: 46px;
    padding-top: 45px;

}
.header__col {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.header__col--align--right {
    display: flex;
    justify-content: flex-end;
}
