.offers {
    display: flex;
    justify-content: space-between;

}
.offers__item {
    flex-direction: column;
    min-height: 449px;
    background: #fff;
    border-radius: 5px;
    width: calc(100% / 3 - 30px);

}
.offers__item:last-child {
    margin-right: 0;
}
.offers__header {
    min-height: 144px;
    margin-bottom: 33px;
    
    align-self: stretch;
}
.offers__header-img{
    width: 400px;
}
.offers__content {
    
    color: black;
    flex: 1;
    margin-left: 22px;
    margin-right: 16px;
    margin-top: 23.5px;
    

}
.offers__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 23px;

}
.offers__service {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 23px;
}
.offers__desc {
    display: block;
    font-size: 14px;
    color: #303030;
    margin-bottom: 24.5px;
    margin-top: 23px;

}
.offers__btn-wrapper {
    display: flex;
    justify-self: left;
    margin-top: auto;
}