.offers {
    display: flex;
    justify-content: space-between;

}
.offers__item {
    min-height: 305px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    
    width: calc(100% / 3 - 18px);

}
.offers__item:last-child {
    margin-right: 0;
}
.offers__header {
    min-height: 144px;
    margin-bottom: 33px;
}
.offers__content {
    padding: 33px 0px 26px 24px;
    color: black;

}
.offers__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 23px;

}
.offers__service {
    display: flex;
}
.offers__desc {
    font-size: 14px;
    color: #303030;
    margin-bottom: 24.5px;

}
.offers__btn-wrapper {
    text-align: left;
}