.pager {
    text-align: center;
    margin-bottom: 152.5px;
    margin-top: 57.5px;
    position: relative;   
}
.pager__display, .pager__list {
    display: inline-block;
    vertical-align: middle;

}
.pager__list {
    position: relative;
}
.pager__display {
    margin-right: 25px;
}
.pager__item {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 24px;
}
.pager__item--active {
    display: inline-block;
    color: rgb(209, 29, 29);
    background:#fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    position: relative;
 
}
.pager__link {
    
    border-radius: 50%;
    position: absolute;
    text-decoration: none;
    
    line-height: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 

}