.service__item {
    display: flex;
    justify-self: space-between;
    
    
    font-size: 16px;
    color: #666666;
    

}
.service__info {
    display: flex;
    justify-self: space-between;
    padding: 0;
    margin-right: 28px;
  
}

.service__icon {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    

}