.socials {
    position: absolute;
    top: 40px;
    left: 700px;
}
.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.socials__item:last-child {
    margin-right: 0;
}
.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
       
}
.socials__item--icon--tg .socials__link {
    background-image: url("./images/icons/tg.png");
}
.socials__item--icon--vk .socials__link {
    background-image: url("./images/icons/vk.png");
}
.socials__item--icon--fb .socials__link {
    background-image: url("./images/icons/fb.png");
}
.socials__item--icon--inst .socials__link {
    background-image: url("./images/icons/inst.png");
}