.top-line {
  display: flex;
  padding-bottom: 23.5px;
  min-height: 412px;
  background: url("../../images/headline 1.png") center top no-repeat
  
  
}
.top-line__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    
}
.header__col--align--right {
    display: flex;
    justify-content: flex-end;
}

.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
}
.breadcrumbs__list {
    display: flex;
    align-items: center;
}
.breadcrumbs__link {
    font-size: 14px;
}
.breadcrumbs__item {
    display: flex;
    align-items: center;
}
.breadcrumbs__item--active .breadcrumbs__link {
    text-decoration: none;
}
.breadcrumbs__item:after {
    content: "/";

}
.breadcrumbs__item:last-child:after {
    display: none;
    
}
.page-content {
    background: #f4f5f5;
    color: #303030;
    
    

}
.service2 {
    display: flex;
    margin-top: 98px;
    margin-bottom: 49px;
}
.service2__img {
    width: 30%;
    margin-right: 13.8%;
    
}
.service2__content {
    flex: 1;
    
}
.service2__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25.5px;

}
.service2__desc {
    line-height: 27px;
    margin-bottom: 34.5px;

}
.pager2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 152.5px; */
    margin-top: 69.5px;
}
.pager2__display, .pager2__list {
    
    vertical-align: middle;

}
.pager2__list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pager2__display {
    margin-right: 25px;
}
.pager2__item {
    
    vertical-align: middle;
    position: relative;
    margin-right: 24px;
}
.pager2__link {
    
    border-radius: 50%;
    position: absolute;
    text-decoration: none;
    
    line-height: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 

}
.pager2__link:hover {
    
    color: #fff;
    background:rgb(209, 29, 29);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
 
}

.inner-section {
    background: #f4f5f5;
    padding: 91.5px 391px 124px 0px;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    /* margin-bottom: 99px; */
}
.inner-section--bg--grey {
    background: #f4f5f5;
}
.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.partners__item {
    margin-top: 88px;
    
}
.partners__item:nth-child(4) {
    margin-rigth: 0;
}
.partners__item:nth-child(6) {
    margin-left: -70px;
}
.partners__item:nth-child(7) {
    margin-left: -90px;
}
.partners__item:last-child {
    margin-right: 0;
}
.partners__link {
    text-decoration: none;
    display: flex;
    width: 300px;
    height: 68px;
    align-items: center;
    justify-content: flex-start;
    filter: grayscale(100%);
}
.partners__link:hover {
    filter: grayscale(0);
}
.footer-line {
    background: #001821;
}
.footer-service {
    display: flex;
    
    height: 132px;
    width: 1200px;
    align-content: center;
    color: #fff;

}