.welcome {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url("../../images/bg.png") center center / cover no-repeat;
}
.central {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* animation: bounce 1.3 infinite; */
}
.central__logo {
    margin-top: 175px;
    margin-left: 20px;
}
.central__title {
    margin-bottom: 52.5px;
}
.btn--color--red:hover {
    background: #da0100 30%;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
    border-radius: 35px; ;
}
.central--asia {
    opacity: 0;
    animation: zoom .9s ease-in;
    animation-fill-mode: forwards;

}

@keyframes zoom {
    from {
        transform: scale(.7);
    }
    20% {
        transform: scale(1.15);

    }
    40% {
        transform: scale(.9);
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(.95);
    }
    to {
       opacity: 1;
       transform: scale(1); 
    }

}