.hero__text-section {
    width: 42.6%;
}
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 544px;
}
.hero__title {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 33.5px;
}
.hero__subtitle {
    font-size: 18px;
    
    margin-bottom: 70px;
}